.meal-container { 
    max-width: 960px;
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    
  }
  
  .column {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    align-items: center;
  }
  h2 {
    margin-bottom: 3rem;
  }
  label {
    
    padding: .5rem;
    display: block;
    margin-bottom: 5px;
    color: lightslategray;
    font-size: smaller;
    font-weight: 800;
  }
  
  textarea {
    padding-top: 1.75rem;
    width: 95%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: luminary, fantasy;
    font-weight: bold;
    letter-spacing: 0.05rem;
    color:darkblue;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 5px;
  }
  

  .dragging {
    border: 1px solid red;
  }